@import url('fonts.css');
@import url('colors.css');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 1rem; /* Margin on both sides */
}

.container {
    text-align: center;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

/* Heading styles */
h1 {
    font-size: 2em;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Optional styles for other headings and text */
h2 {
    font-size: 1.75emindex;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
}

a:visited {
    color: var(--text-color);
    text-decoration-color: var(--secondary-color);
}

a:hover {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
}